<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Some Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> header}}
  <p>Here is a listing of Projects</p>
  <ul>
    <li>Current</li>
    <li>Past</li>
    <li>Future</li>
  </ul>

  {{> footer}}
</body>

</html>